/*take care of different browsers*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*header content*/

#logo {
	margin-top: 20px;
}

h1 {
	font-weight: 100;
	font-size: 60px;
	margin-bottom: -20px;
}

/*body*/
h2 {
	color: #BCBBBB;
}

body {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}
.content h3, .content p {
	margin:0;
}

.featured-work p {
	margin-bottom: 20px;
}
/*horizontal line*/
hr {
	color: #7d97ad;	
	/*height: 10px;*/
	border-top: 3px solid #7d97ad;
}


/*Media Queries*/

/*Mobile: Google Nexus 5*/
/*stack and center header elements*/
@media screen and (max-width: 384px) {
	/*set logo size*/
	* {
		text-align: center;
	}
	#logo {
		width: 60px;
		height: 60px;
	}
	h1{
		font-size: 40px;
	}

}
/*Tablet: Apple iPad3*/
/*stack and center header elements*/
@media screen and (min-width: 385px) and (max-width: 768px) {
	* {
		text-align: center;
	}
	#logo {
		width: 80px;
		height: 80px;
	}
	h2 {
		font-size: 40px;
	}
}
/*Desktop*/
/*span header elements*/
@media screen and (min-width: 769px) {
	#logo {
		width: 80px;
		height: 80px;
	}
	.header {
		text-align: right;
	}
}
